* {
    box-sizing: border-box;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.with-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.body-container {
    position: relative;
    justify-content: space-between;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #d9d9db;
}

.about-container {
    display: grid;
    position: relative;
    margin: auto;
    height: auto;
    width: 95%;
    background-color: #fff;
    box-shadow: 2px 2px 15px 12px #9e9c9c;
}

.about-section {
    position: relative;
    display: flex;
    height: 125px;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    color: aliceblue;
    background-color: var(--primary-color);
}

.about-section h1 {
    position: absolute;
    font-size: 2.5em;
    font-weight: 800;
    bottom: 50%;
    transform: translateY(50%);
    left: 20px;
}

.about-section-nav-container {
    position: absolute;
    height: 5px;
    bottom: 20px;
    left: 50px;
}
.about-section-nav-container button:hover {
    background-color: rgba(88, 133, 218, 0.968)
}

.about-section-nav-container button .active {
    background-color: #fff;
}

.about-section-nav {
    display: flex;
}

.about-section-nav .btn {
    padding: 0 5px;
    margin-right: 5px;
    height: 25px;
    font: 700;
    font-size: 1.5em;
    border: #fff;
    cursor: pointer;
}

.about-section-nav .btn {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
}

.about-section-nav .active.btn {
    background-color: aliceblue;
    color: #000;
}

/* .the-art-network,
.shop,
.team-pre,
.term-privacy,
.investor
 {
    display: none;
} */
/*
.active {
    display: block;
} */

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

/* ABOUT BODY */

.about-section-content {
    margin: 25px;
}

.about-section-content-header {
    margin-top: 50px;
    margin-bottom: 25px;
    border-bottom: #000;
}

.about-section-content h2 {
    font-size: 2.5em;
    font-weight: 700;
}

.about-section-content h3 {
    font-size: 2em;
    margin: 28px 0;
    font-weight: 600;
}

.about-body-header {
}

.about-body-header p {
    font-size: 1.8em;
    margin: 0 0 16px 0;
    line-height: 25px;
}

.about-body-header .link {
    font-size: 1.8em;
    margin: 0 0 16px 0;
    line-height: 25px;
}

.about-body-header .founder-portrait {
    height: 200px;
    width: 159px;
}

.team {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.note {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0 !important;
}

.note p{
    margin-bottom: 0 !important;
}

.social {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0 !important;
}

.social p{
    margin-bottom: 0 !important;
}

.social span {
    line-height: 50px;
    font-size: 1.17em;
}

.investor-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto ;
}

.founder-container {
    display: flex;
    gap: 30px;
}

.founder {
    margin: 0 !important;
    line-height: 30px !important;
}
