
/* START account css */

.btn-login {
    font-size: 1.4em;
    padding: 0 10px;
    height: 64px;
    border: none;
    background-color: #fff;
}

.btn-login:hover {
    border-bottom: 2px solid var(--red-color);
    font-weight: 600!important;
    cursor: pointer;
}

/* START login css */
.login-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-innerflex {
    flex-basis: 1200px;
    display: flex;
    justify-content: center;
}

.login-container {
    width: 1100px;
    border: 1px solid var(--gray-color);
    border-radius: 0 10px 10px 0;
    display: flex;
    min-height: 738px;
    max-height: 738px;
    margin-top: 40px;
}

.login-form {
    width: 548px;
    padding: 40px 50px 40px 112px;
}

.login-header {
    margin-bottom: 0;
    font-size: 24px;
    color: var(--black-color);
    text-align: center;
    line-height: 29px;
}

.login-social {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-btn {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 0 8px;
    height: 40px;
    margin-right: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
}


.login-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
}

.login-signdivd {
    width: 99px;
    border: 1px solid var(--gray-color);
}

.login-divhead {
    font-size: 13px;
    color: var(--black-color);
}


form {
    width: 380px;
}
.login-password,
.login-email {
    margin-top: 34px;
    position: relative;
    font-size: 14px;
}

.login-titlehead {
    display: flex;
    justify-content: space-between;
}

.log-textfield,
.log-password {
    width: 384px;
    height: 44px;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    padding-left: 45px;
}

.login-icon {
    position: absolute;
    text-align: center;
    color: var(--gray-color);
    position: absolute;
    top:52%;
    transform: translateX(-14%);
    left: 15px;
}


.login-btn-container {
    margin-top: 34px;
    display: flex;
    justify-content: center;

}

.login-btn {
    width: 289px;
    height: 45px;
    background: red;
    border-radius: 44px;
    font-size: 16px;
    color: var(--white-color);
}


.login-already {
    margin-top: 40px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.login-textblock {
    font-size: 14px;
    color: var(--colorLblack);
    cursor: pointer;
    margin-left: 8px;
    text-align: center;
    white-space: nowrap;
}

.log-logregcolor {
    font-size: 14px;
    color: red;
    margin-left: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
}

.login-register {
    display: flex;
    margin-top: 0;
    justify-content: center;
}
/* END login css */

/* START sign up css */
.signup-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-innerflex {
    flex-basis: 1300px;
    display: flex;
    justify-content: center;
}

.signup-container {
    width: 1100px;
    border: 1px solid var(--gray-color);
    border-radius: 0 10px 10px 0;
    display: flex;
    min-height: 738px;
    max-height: 1600px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.signup-img {
    display: flex;
}

.signup-form {
    width: 548px;
    padding: 40px 50px 40px 112px;
}

.signup-header {
    margin-bottom: 0;
    font-size: 24px;
    color: var(--black-color);
    text-align: center;
    line-height: 29px;
}

.signup-social {
    margin-top: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-btn {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 0 8px;
    height: 40px;
    margin-right: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
}


.signup-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
}

.signup-signdivd {
    width: 99px;
    border: 1px solid var(--gray-color);
}

.signup-divhead {
    font-size: 13px;
    color: var(--black-color);
}

form {
    width: 380px;
}
.signup-name,
.signup-password,
.signup-email,
.signup-gender,
.signup-nation,
.signup-favorite {      /* */
    margin-top: 34px;
    position: relative;
    font-size: 14px;
}

.radio-container {          /* */
    display: flex;
    width: 384px;
    height: 44px;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    justify-content: space-around;
    align-items: center;
}

.male-container,
.female-container {         /* */
    display:flex;
    align-items: center;
    justify-content: center;
}

.male-container span,
.female-container span{         /* */
    font-size: 1.1em;
}

.log-radio {
    width: 2.5em;
    height: 1.2em;
}

.checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: space-around;
    height: 50px;
    margin: auto;
}

.box-container {
    display: flex;
    justify-content: center;
    width: 32%;
}

.signup-titlehead {
    display: flex;
    justify-content: space-between;
}

.log-textfield,
.log-password,
.nation-dropdown select {
    width: 384px;
    height: 44px;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    padding-left: 45px;
}

.signup-icon {
    position: absolute;
    text-align: center;
    color: var(--gray-color);
    position: absolute;
    top:52%;
    transform: translateX(-14%);
    left: 15px;
}


.signup-btn-container {
    margin-top: 34px;
    display: flex;
    justify-content: center;

}

.signup-btn {
    width: 289px;
    height: 45px;
    background: red;
    border-radius: 44px;
    font-size: 16px;
    color: var(--white-color);
}


.signup-already {
    margin-top: 40px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.signup-textblock {
    font-size: 14px;
    color: var(--colorLblack);
    cursor: pointer;
    margin-left: 8px;
    text-align: center;
    white-space: nowrap;
}

.log-logregcolor {
    font-size: 14px;
    color: red;
    margin-left: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
}

.signup-register {
    display: flex;
    margin-top: 0;
    justify-content: center;
}
/* END sign up css */

/* END account css */