:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --red-color: #ec1c24;
    --gray-color: #c0c0c094;
    --primary-color: #003087;
}

* {
    box-sizing: inherit; /*inherit là kế thừa lại thẻ cha là thẻ html border-box*/
}

html {
    font-size: 62.5%; /*62.5%=1rem=10px*/
    line-height: 1.6rem; /*=16px*/
    font-family: "Montserrat", sans-serif; /*sans-serif chủng chữ k chân*/
    box-sizing: border-box;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}

label {
    display: inline-block;
}

.mt-5o {
    margin-top: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}


.grid {
    width: 1400px; /*Kích thước max = 1200*/
    max-width: 100%; /*Nếu thiết bị có kích thước nhỏ hơn thì width sẽ = 100% màn hình đó*/
    margin: 0 auto; /*Căn giữa các khối*/
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__col-2-5 {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid__col-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid__col-9 {
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}



.noHover {
    pointer-events: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}