.container {
    width: 600px;
    margin: auto;
    background: blue;
    padding: 20px;
    font-size: 1.2em;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}
caption {
    font-weight: 600;
    font-size: 1.2em;
}
button {
    width: 60px;
    height: 25px;
}
  