.container {
    width: 600px;
    margin: auto;
    padding: 20px;
    font-size: 1.2em;
}


table {
    width: 100%;
    border-collapse: collapse;
}

.container th {
    background: var(--primary-color);
    color: white;
}

th,
td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}
caption {
    font-weight: 600;
    font-size: 1.2em;
}

.cart-container {
    position: relative;
}

.cart-btn {
    position: absolute;
    right: 0;
    width: 80px;
    height: 30px;
}
  
input[type="number"] {

    text-align: center;
    width: 50px;
    font-size: 13px;
}