


/* START banner css */
.banner-container {
    position: relative;
}

.banner-list {
    margin: 0;
    padding: 0;
}

.banner-item {
   
    display: none;
}

.banner-img {
    height: 405px;
    width: 100%;
}

.banner-btn-left,
.banner-btn-right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 8px 16px;
    cursor: pointer;
}

.banner-btn-right {
    right: 0;
}

.banner-icon {

}

.numbertext {
    line-height: 1.5em;
    border-radius: 5px;
    width: 48px;
    text-align: center;
    background-color: rgba(19, 19, 158, 0.386);
    position: absolute;
    font-size: 2em;
    left: 50%;
    color: rgb(255, 255, 255);
    transform: translateX(-50%);
}

/* END banner css */


/* START category */
.category {
    margin-top: 60px;
}

/* Tais su dung */
.home-title {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    font-size: 2.2rem;
}

.category-list {
    width: 100%;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

.category-item-link {
    display: flex;
    text-decoration: none;
}

.category-img {
    cursor: pointer;
    max-width: 100%;
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 10px;
    background-color: var(--gray-color);
}

.category-img img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.category-title {
    margin-left: 24px;
}

.category-title h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 6px;
    color: var(--black-color);
}

.sub-title {
    font-size: 13px;
    color: var(--gray-color);
}
/* END category */


/* START carousel */
.slideshow-container {
    max-width: 1500px;
    width: 100%;
    min-height: 500px;
    height: min-content;
    position: relative;
}

.slideshow-container .carousel {
    /* margin: 0 0 0 42px; */
    width: auto;
    display: grid;
    position: relative;
    justify-items: center;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3 - 10px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; /* cho hiệu ứng bấm nút mượt hơn */
    scrollbar-width: 0;
    user-select: none;
}

.slideshow-container i {
    z-index: 1;
    height: 50px;
    width: 50px;
    font-size: 5rem;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-160%);
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.slideshow-container #left {
    left: -12px;
}

.slideshow-container #right {
    right: -12px;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel-slide a {
    text-decoration: none;
    color: var(--black-color);
}

.carousel .carousel-slide {
    width: 350px;
    height: auto;
    display: block;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.carousel-slide :where(.image) {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.carousel-slide .image {
    margin: 5px 0;
    width: 350px;
    height: 350px;
    user-select: none;
}

.carousel-slide .image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
    user-select: none;
}

.carousel-slide .title {
    display: flex;
    flex-direction: column;
}

.carousel-slide .title h2 {
    font-weight: 900;
    font-size: 1.8rem;
}

.carousel-slide .title span {
    font-size: 1.56rem;
    color: #6a6a78;
}

@media screen and (max-width: 1180px) {
    .slideshow-container .carousel {
        grid-auto-columns: calc(100% / 2 - 12px);
    }
}

@media screen and (max-width: 900px) {
    .slideshow-container .carousel {
    grid-auto-columns: calc(100%);
    }
}
/* END carousel */

