/* Start: Header section */
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 600;
}

.header-container {
    background-color: var(--white-color);
}

.header-main_nav {
    height: 6.4rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-color);
    box-shadow: 0 1px 3px var(--gray-color);
}

.header-logo {
    display: flex;
    height: 6.4em;
    width: auto;
}

/* Discover */
.header-discover {
    display: flex;
    height: 6.4rem;
    width: 100vw;
    justify-content: center;  /* added 10/10 */
}

.header-discover ul li{
    list-style-type: none;
    display: inline;
}


.header-main_nav_list {
    padding: 0 9.4px;;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    height: 6.4rem;
}

.header-main_nav-item {
    padding: 0 1.5rem;
    line-height: 6.4rem;
}

.header-main_nav-item .main_nav-link {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
}

.main_nav-link:hover {
    border-bottom: 2px solid var(--primary-color);
    font-weight: 600!important;
}

/* Drop down menu */
.drop-menu:hover .subnav-list {
    display: block;
}

.drop-menu {
    position: relative;
    cursor: pointer;
}

.subnav-list {
    min-width: 120px;
    position: absolute; 
    background-color: #fff;
    box-shadow: 0 8px 16px #0003;
    list-style: none;
    line-height: 5.4rem;
    padding: 0;
    top: 100%;
    display: none;
}

.subnav-link:hover {
    background-color: #ccc;
    cursor: pointer;
}

.subnav-link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    width: 100%;
    font-weight: 400;
    padding: 0 15px;
}


/* START header cart */

.header__cart {
    width: 138px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: flex;
}

.header__cart-icon {
    color: var(--text-color);
    font-size: 2.4rem;
    margin-left: 5px;
}

.header__cart-notice {
    top: -4px;
    right: -4px;
    position: absolute;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #333;
    color: var(--text-color);
    background-color: var(--white-color);
}


.header__cart-list {
    position: absolute;
    top: calc(100% + 3px);
    right: -3px;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3.125rem 0  rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
}

.header__cart-list .header__cart-list-no-cart {
    align-items: center;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    right: 5px;
    top: -24px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list-no-cart {
    padding: 24px 0;
}

.header__cart-list-no-cart .header__cart-no-cart-img,
.header__cart-list-no-cart .header__cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    width: 40%;
    display: none;
}

.header__cart-list-no-cart-msg {
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    display: none;
}

/* Cart item with product */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
    max-height: 300px; /* đặt độ dài cố định để thấy sự thay đổi */
    padding-left: 0;
    list-style: none;
    overflow: auto; /* cái này sẽ hiện thanh cuộn nhé ae */
}

.header__cart-item:hover {
    background-color: #ececec;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    /* cho vào border để các ảnh có nền trùng vs background k bị nhỏ */
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    /* Name dài quá nên thêm ... ở cuối nếu lố */
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
    max-width: 190px;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: red;
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    cursor: pointer;
    color: red;

}

.header__cart-view-cart {
    position: relative;
    float: right;
    padding: 12px;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
}

.header__cart-view-cart:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

/* END header cart */




/* START search icon */
.header-search {
    font-size: 2em;
    margin-right: 30px;
}

.search-icon {
    color: #717171;
    font-size: 24px;
}

.header-search {
    position: relative;

}

.header__search-icon-wrap {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.header__search-icon-wrap:focus ~ .header__search-input-wrap {
    display: flex;
}

.header__search-input-wrap {
    position: absolute;
    top: 40px;
    right: -100px;
    width: 696px;
    height: 40px;
    padding: 3px;
    display: none;
    border-radius: 2px;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0 0px 6px #00000029;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 10px 0 28px;
    border-radius: 2px;
}

/* END search icon */

/* End: Header section */




/* START body ection */


/* Footer section */

footer {
    background-color: #ffffff;
    height: max-content;
    position: sticky;
    top: 100%;
}

.footer-container {
    width: 100vw;
    padding: 70px 30px 20px;
}

.social-container {
    border-top: 1px solid var(--gray-color);
    box-shadow: 0 1px 3px var(--gray-color) inset;
    display: flex;
    justify-content: center;
}

.social-container a {
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 1.5em;
}

.social-container a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.fa-instagram::before {
    padding: 2px;
}

/* social icons effects*/

/* .socialIcons a:hover {
    background-color: transparent;
    transition: 0.6s;
} */

.social-container a:hover i {
    color: #ffffff;
    transition: 0.5s;
}

.footerNav {
    margin: 20px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    margin: 20px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.8em;
    opacity: 0.7;
    transition: 0.5s;
}

div.social-container a {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 6px 1.5px var(--gray-color);
}

div.social-container a:hover {
    background-color: radial-gradient( yellow, orange, pink);
    background-image: linear-gradient(135deg, rgb(18, 4, 214), rgb(124, 16, 167) ,yellow);
    opacity: 0.5;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: 1px solid var(--gray-color);
    box-shadow: 1px 0 3px var(--gray-color) inset;
}

.footerBottom p {
    font-size: 1.3rem;
    line-height: 20px;
    color: #000000;
}

.designer {
    opacity: 0.7;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

.designer:hover {
    opacity: 1;
}

@media (max-width: 700px) {
    .footerNa ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
/* end footer section */

/* @media only screen and (max-width: 990) {
} */



/* 02/10 fix footer social icons */
div.social-container fa-brands {
    font-size: 24px; /* khuc nay gần như vô dụng vì kích thước auto cả nhưng ép ch chắc*/
    padding: 2px; /* Same as above*/
}



div.social-container i {
    padding: 0 !important;
}

/* nhin trng co ve center =)))))))*/

