/* Start: Header section */
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header-container {
    background-color: var(--white-color);
}

.header-main_nav {
    height: 6.4rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 13rem;
    height: auto;
}

/* Discover */
.header-discover {
    display: flex;
    height: 6.4rem;
    width: 100rem;
}

.header-main_nav_list {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    height: 6.4rem;
    
}

.header-main_nav-item {
    padding: 0 1.5rem;
    line-height: 6.4rem;
}

.header-main_nav-item .main_nav-link {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
}

.main_nav-link:hover {
    border-bottom: 2px solid var(--red-color);
    font-weight: 600!important;
}

/* Drop down menu */
.drop-menu:hover .subnav-list {
    display: block;
}

.drop-menu {
    position: relative;
    cursor: pointer;
}

.subnav-list {
    min-width: 120px;
    position: absolute; 
    background-color: #fff;
    box-shadow: 0 8px 16px #0003;
    list-style: none;
    line-height: 6.4rem;
    padding: 0;
    top: 100%;
    display: none;
}

.subnav-item:hover {
    background-color: #ccc;
    cursor: pointer;
}

.subnav-item {

}

.subnav-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    padding: 10px 16px;

}

/* Search icon */
.header-search {

}

.search-icon {

}

/* Login/signup */
.header-acc {

}

.btn-login {
    
}

/* End: Header section */

/* Body Section */

.body-container {

}































.art-work,
.discover {
    padding: 8px;
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    text-decoration-color: #000;
}

.art-work a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.art-work a:active {
    text-decoration: none;
}

.art-work a:visited {
    text-decoration: none;
}

.discover a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.discover a:active {
    text-decoration: none;
}

.discover a:visited {
    text-decoration: none;
}

#search-bar {
    height: 2.8rem;
    width: 33%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 1rem 2rem;
    backdrop-filter: blur(4px);
}

.search-form {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: max-content;
}





#search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: rgb(143, 87, 4);
}

/* END OF HEADER */

/* Footer section */

footer {
    background-color: #111;
    height: max-content;
    position: sticky;
    top: 100%;
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.fa-instagram::before {
    padding: 2px;
}

/* social icons effects*/

.socialIcons a:hover {
    background-color: transparent;
    transition: 0.6s;
}

.socialIcons a:hover i {
    color: #fff;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    margin: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.8em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.footerBottom p {
    color: #fff;
}

.designer {
    opacity: 0.7;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

.designer:hover {
    opacity: 1;
}

@media (max-width: 700px) {
    .footerNa ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
/* end footer section */

@media only screen and (max-width: 990) {
}



/* 02/10 fix footer social icons */
s
div.socialIcons fa-brands {
    font-size: 24px; /* khuc nay gần như vô dụng vì kích thước auto cả nhưng ép ch chắc*/
    padding: 2px; /* Same as above*/
}

div.socialIcons a {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.socialIcons i {
    padding: 0 !important;
}

/* nhin trng co ve center =)))))))*/

