
/* Start: Header section */
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header-container {
    background-color: var(--white-color);
}

.header-main_nav {
    height: 6.4rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-color);
    box-shadow: 0 1px 3px var(--gray-color);
}

.header-logo {
    display: flex;
    height: 6.4em;
    width: auto;
}

/* Discover */
.header-discover {
    display: flex;
    height: 6.4rem;
    width: 100vw;
    justify-content: center;  /* added 10/10 */
}

.header-discover ul li{
    list-style-type: none;
    display: inline;
}


.header-main_nav_list {
    padding: 0 9.4px;;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    height: 6.4rem;
}

.header-main_nav-item {
    padding: 0 1.5rem;
    line-height: 6.4rem;
}

.header-main_nav-item .main_nav-link {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
}

.main_nav-link:hover {
    border-bottom: 2px solid var(--red-color);
    font-weight: 600!important;
}

/* Drop down menu */
.drop-menu:hover .subnav-list {
    display: block;
}

.drop-menu {
    position: relative;
    cursor: pointer;
}

.subnav-list {
    min-width: 120px;
    position: absolute; 
    background-color: #fff;
    box-shadow: 0 8px 16px #0003;
    list-style: none;
    line-height: 6.4rem;
    padding: 0;
    top: 100%;
    display: none;
}

.subnav-item:hover {
    background-color: #ccc;
    cursor: pointer;
}

.subnav-item {
    height: 40px;
    line-height: 40px;
}

.subnav-link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    padding: 10px 16px;

}

/* Search icon */
.header-search {
    font-size: 2em;
}

.search-icon {

}

/* Login/signup */
.header-acc {

}

.btn-login {
    font-size: 1.4em;
    margin: 0 5px;
    padding: 0 6px;
    height: 64px;
    width: 85px;
    border: none;
    background-color: #fff;
}

.btn-login:hover {
    border-bottom: 2px solid var(--red-color);
    font-weight: 600!important;
}

/* End: Header section */




/* Body Section */


.body-container {
    background-color: var(--white-color);
    display: flex;
    height: auto;
    width: 1200px;
    margin: 0 auto;
}

/* START BANNER CSS */
.banner-container {
    margin-top: 40px;
}

.banner-list {
    margin: 0;
    padding: 0;
}

.banner-item {
   
    display: none;
}

.banner-img {
    height: 405px;
    width: 100%;
}

/* END BANNER CSS */

























/* OLD CSS */

/* .art-work,
.discover {
    padding: 8px;
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    text-decoration-color: #000;
}

.art-work a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.art-work a:active {
    text-decoration: none;
}

.art-work a:visited {
    text-decoration: none;
}

.discover a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.discover a:active {
    text-decoration: none;
}

.discover a:visited {
    text-decoration: none;
}

#search-bar {
    height: 2.8rem;
    width: 33%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 1rem 2rem;
    backdrop-filter: blur(4px);
}

.search-form {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: max-content;
}

#search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: rgb(143, 87, 4);
} */











/* Footer section */

footer {
    background-color: #ffffff;
    height: max-content;
    position: sticky;
    top: 100%;
}

.footer-container {
    width: 100vw;
    padding: 70px 30px 20px;
}

.socialIcons {
    border-top: 1px solid var(--gray-color);
    box-shadow: 0 1px 3px var(--gray-color) inset;
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 1.5em;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.fa-instagram::before {
    padding: 2px;
}

/* social icons effects*/

/* .socialIcons a:hover {
    background-color: transparent;
    transition: 0.6s;
} */

.socialIcons a:hover i {
    color: #ffffff;
    transition: 0.5s;
}

.footerNav {
    margin: 20px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    margin: 20px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.8em;
    opacity: 0.7;
    transition: 0.5s;
}

div.socialIcons a {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 6px 1.5px var(--gray-color);
}

div.socialIcons a:hover {
    background-color: radial-gradient( yellow, orange, pink);
    background-image: linear-gradient(135deg, rgb(18, 4, 214), rgb(124, 16, 167) ,yellow);
    opacity: 0.5;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: 1px solid var(--gray-color);
    box-shadow: 1px 0 3px var(--gray-color) inset;
}

.footerBottom p {
    font-size: 1.3rem;
    line-height: 20px;
    color: #000000;
}

.designer {
    opacity: 0.7;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

.designer:hover {
    opacity: 1;
}

@media (max-width: 700px) {
    .footerNa ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
/* end footer section */

/* @media only screen and (max-width: 990) {
} */



/* 02/10 fix footer social icons */
div.socialIcons fa-brands {
    font-size: 24px; /* khuc nay gần như vô dụng vì kích thước auto cả nhưng ép ch chắc*/
    padding: 2px; /* Same as above*/
}



div.socialIcons i {
    padding: 0 !important;
}

/* nhin trng co ve center =)))))))*/

